.Seekbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.Seekbar-complete, .Seekbar-filled {
  background: transparent;
  height: 5px;
}

.Seekbar-complete {
  width: 100%;
  cursor: pointer;
}

.Seekbar-filled {
  position: relative;
  margin-top: -1px;
  background: red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Seekbar-filled::after {
  content: "";
  position: absolute;
  background: red;
  height: 10px;
  width: 10px;
  right: 0;
  top: -50%;
  border-radius: 50%;
}