.Seekbar {
  display: block;
  padding: 0 15%;
  margin-top: 2rem;
  text-align: center;
}

.Seekbar-complete, .Seekbar-filled {
  background: transparent;
  box-shadow: 0 0 5px rgba(125,125,125,0.5);
  border: 1px solid rgba(125,125,125,0.3);
  height: 5px;
  border-radius: 10px;
}

.Seekbar-complete {
  width: 100%;
  cursor: pointer;
}

.Seekbar-filled {
  margin-top: -1px;
  background: black;
  transition-property: height margin-top;
  transition-duration: 300ms;
}

.Seekbar-filled:hover {
  height: 8px;
  margin-top: -3px;
  border-radius: 20px;
}

.Seekbar-time {
  display: flex;
  margin: 0 -20px;
  margin-top: 0.4rem;
  font-size: 0.9rem;
  justify-content: space-between;
}